<div class="content">
    <div class="tab tab-list active">

        <div class="list-top">
            <form method="post" action="{$smarty.server.PHP_SELF}?moduleName={$module_name}" style="width: 800px">
                <div class="form-grid form-grid-2">
                    <div class="form-group">
                        <label for="name">Nazwa:</label>
                        <input type="text" class="form-input" id="name" name="name">
                    </div>
                </div>

                <div class="form-grid form-grid-2">
                    <div class="form-group">
                        <label for="description">Opis:</label>
                        <input type="text" class="form-input" id="description" name="description">
                    </div>
                </div>

                <div class="btn-row">
                    <input type="hidden" name="action" value="Dodaj szablon" />
                    <button class="btn btn-primary">Dodaj</button>
                </div>

            </form>
        </div>

        <div class="list">
            <table class="list-table">
                <thead>
                <tr class="list-table-row list-table-head">
                    <th>Lp.</th>
                    <th>Tytuł</th>
                    <th>Wysłano</th>
                    <th>Odebrano</th>
                    <th>W kolejce</th>
                </tr>
                </thead>
                <tbody>
                {foreach from=$mail_tpl item=item name=aa}
                <tr class="list-table-row">
                    <td>{$smarty.foreach.aa.iteration}</td>
                    <td>{$item.name}</td>
                    <td>{$item.send|default:0}</td>
                    <td>{$item.odebrano|default:0}</td>
                    <td>{$item.queue_count|default:0}</td>
                    <td>
                        <a href="module?moduleName={$module_name}&action=edit&amp;id={$item.id}" class="list-table-icon" title="Edytuj">
                            <img src="{$TPL_URL}/img/icons/icon-edit.svg" alt="Edytuj">
                        </a>
                        <a href="module?moduleName={$module_name}&action=delete&amp;id={$item.id}" class="list-table-icon" title="Kasuj" onclick="return confirmDelete();">
                            <img src="{$TPL_URL}/img/icons/icon-delete.svg" alt="Kasuj">
                        </a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>

    </div>
</div>
