<div class="page-title"><h1>{$pageTitle}</h1></div>

<div class="page-content">
    <form method="post" action="{$smarty.server.PHP_SELF}">
        <table class="special" cellspacing="1" cellpadding="1">
            <tr>
                <td>
                    {if $JEZYK_MULTI}
                        {section name=j1 loop=$JEZYK}
                            {if $smarty.section.j1.first}
                                <div class="zakladki">
                                {/if}
                                <div id="zakladka-label-{$JEZYK[j1].code}" class="zakladka-label{if $smarty.section.j1.first} zakladka-label-selected{/if}">
                                    <img src="{$TPL_URL}/img/{$JEZYK[j1].directory}/{$JEZYK[j1].code}.gif" alt="{$JEZYK[j1].name}" /> <small>[{$JEZYK[j1].name}]</small>
                                </div>
                                {if $smarty.section.j1.last}
                                    <div class="clear"></div>
                                </div>
                            {/if}
                        {/section}
                        {section name=j1 loop=$JEZYK}
                            {assign var=language_id value=$JEZYK[j1].id}
                            <div id="zakladka-{$JEZYK[j1].code}" class="zakladka">
                                <textarea id="edytor_{$smarty.section.j1.iteration}" class="tiny_mce" name="newsletter_rules[{$language_id}]">{$newsletter_rules[$language_id]}</textarea>
                            </div>
                        {/section}
                    {else}
                        <textarea id="edytor" name="newsletter_rules[{$JEZYK_MAIN.id}]">{$newsletter_rules[$JEZYK_MAIN.id]}</textarea>
                    {/if}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="submit" type="submit" value="Zapisz zmiany" />
                    <input type="hidden" name="action" value="update_rules" />		
                </td>
            </tr>
        </table>
    </form>
</div>

{literal}
    <script type="text/javascript">
        if ($('#edytor').length > 0) {
            initTinyMce('edytor');
        }
        _editor_url = "{/literal}{$BASE_URL}{literal}/js/tinymce/";
        var BASE_URL = "{/literal}{$BASE_URL}{literal}";
        var SERVER_URL = "{/literal}{$CONF.server_addr|default:''}{literal}";
    </script>
{/literal}
