.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 60px 0;

  position: relative;
}

.blog-featured-section {
  width: 100%;
  padding: 20px 0;
}

.featured-card {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 1px solid #e5e9ed;
  background-color: white;
  position: relative;
}

.featured-card .bg-overlay-1 {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.featured-card .bg-overlay-2 {
  position: absolute;
  transform-origin: 50% 50%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotateX(180deg);
  z-index: -1;
}

.featured-card .btn {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5%;
  text-transform: none;
}

.featured-text {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.featured-text-title {
  color: var(--clr-green);
  font-size: 18px;
  font-weight: bold;
}

.featured-text .btn {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

.featured-description {
  font-size: 16px;
  line-height: 24px;
}

.featured-img-container {
  flex: 1;
  height: 365px;
  border-radius: 10px;
}
.featured-img-container img,
.featured-img-container picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .page-header {
    padding: 40px 0 30px;
  }
}

.content-section {
  padding: 60px 0;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px 10px;
  padding: 0;
  justify-content: space-between;
  align-content: space-between;
}

.blog-card {
  border: 1px solid #e5e9ed;
  border-radius: 10px;
  padding: 10px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--clr-text);
  background-color: white;
  gap: 12px;
  overflow: hidden;
}

.blog-card-img {
  align-self: stretch;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  min-height: 160px;

}
.blog-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  inset: 0;
  height: 160px;
}

.blog-card-date {
  font-size: 12px;
  color: var(--clr-green);
  padding: 0;
}

.blog-card-desc {
  font-size: 12px;
  padding: 0;
  margin-top: 5px;
  line-height: 18px;
}

.blog-card-content {
  flex: 1;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blog-title {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.content-title {
  margin-bottom: 30px;
}

@media (max-width: 1080px) {
  .content-title {
    text-align: center;
  }

  .featured-card {
    flex-direction: column;
    height: auto;
    align-items: stretch;
    gap: 30px;
  }

  .featured-text {
    align-items: flex-start;
  }

  .blog-card-content h6 {
    font-size: 18px;
  }
}
