.blog-header-container {
  padding: 40px 0 60px 0;
  border-bottom: 1px solid #e5e9ed;
}

.blog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.blog-header * {
  flex: 1;
}

.blog-header-img-container {
  width: 100%;
  height: 320px;
  border-radius: 10px;
}
.blog-header-img-container img,
.blog-header-img-container picture {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.blog-header .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.blog-header .text h1 {
  font-size: var(--fs-h2);
  line-height: var(--line-height-h2);
}

.blog-page {
  padding: 60px 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  padding: 60px 0;
  gap: 4vw;
  justify-content: space-between;
  align-items: flex-start;
}

.page-text a{
  color: var(--clr-green);
}

.page-text-container {
  flex: 2;
}
.sidebar {
  flex: 1;
}

.sidebar-header {
  margin-bottom: 20px;
}

.blog-card {
  border: 1px solid #e5e9ed;
  border-radius: 10px;
  padding: 10px 10px 20px;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;

  text-decoration: none;
  color: var(--clr-text);
}

.blog-card-img {
  align-self: stretch;
  height: 150px;
  border-radius: 10px;
  z-index: 0;
  position: relative;
}
.blog-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  inset: 0;
}

.blog-card-date {
  font-size: 12px;
  color: var(--clr-green);
  padding: 0;
  margin-top: 10px;
}

.blog-card-desc {
  font-size: 12px;
  padding: 0;
  margin-top: 5px;
  line-height: 18px;
}

.blog-card-content {
  flex: 1;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.blog-title {
  font-size: 20px;
  margin-top: 10px;
}

.sidebar-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 860px) {
  .blog-page,
  .blog-header-container {
    padding: 40px 0;
  }

  .blog-header {
    flex-direction: column;
    align-items: stretch;
  }

  .content-container {
    flex-direction: column;
  }
  .sidebar-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  .blog-card-content h6 {
    font-size: 18px;
  }
}

.page-text > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.page-text p {
  line-height: 24px;
}
.page-text h2 {
  font-size: var(--fs-h3);
}
.page-text h3 {
  font-size: var(--fs-h4);
}
.page-text h4 {
  font-size: var(--fs-h5);
}

.page-text ol {
  list-style: none;
  counter-reset: li;
  margin: 5px 0;
}
.page-text ol li {
  counter-increment: li;
  position: relative;
}
.page-text ol li::after {
  content: counter(li) ".";
  color: var(--clr-green);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.5ch;

  display: inline-block;
  width: 1em;
  font-weight: bold;
}

.page-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
