.sitemap {
  padding: 60px 0;
}

.sitemap-title {
  font-size: var(--fs-h2);
  line-height: var(--line-height-h2);
  text-align: center;
  margin-bottom: 60px;
}
.sitemap-list-link {
  color: black;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 2px;
}
.sitemap-list-link::after {
  content: "•";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  line-height: 28px;
}

.sitemap-list-link::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  background-color: var(--clr-green);
  opacity: 0.5;
  transform: translateX(-110%);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sitemap-list-link:hover::before {
  transform: translateX(0);
}

.sitemap-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: auto;
  align-items: flex-start;
  align-content: start;
}

@media (max-width: 900px) {
  .sitemap-list {
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  }
}

.sitemap-sublist {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.sitemap-sublist .title {
  font-weight: 500;
  color: black;
}
