<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Chema-Elektromet",
    "logo": "{$TPL_URL}/img/logo-aftident.svg",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "ul. Przemysłowa 9",
      "addressLocality": "Rzeszów",
      "postalCode": "35-105"
    },
    "url": "https://www.aftident.pl/",
    "telephone": "+48178621330",
    "email": "chema@chema.rzeszow.pl"
  }  
</script>

<main class="">

  {if $main_page.blocks}
  {foreach from=$main_page.blocks item=block}
  {include file="blocks/{$block.template_file}.html"}
  {/foreach}
  {/if}
</main>