<div class="content">
    <form class="form" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">

        {include file="./tabs/content-add.html" tabActive=true}

        <div class="btn-row btn-row-bottom">
            <input type="hidden" name="action" value="add_new_user" />
            <input type="hidden" name="moduleName" value="{$module_name}">
            <button class="btn btn-save" id="save">Dodaj użytkownika</button>
            <div class="btn btn-cancel" onclick="window.history.back()">Anuluj</div>
        </div>
    </form>
</div>