<div class="content">
    <form class="form" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">

        <div class="tab active">
            <div class="content-block">

                <div class="form-grid">
                    <div class="form-group">
                        <label for="name">Nazwa</label>
                        <input type="text" class="form-input" id="name" name="name" size="25">
                    </div>
                </div>
            </div>
            <div class="content-block">
                <h3 class="content-block-title">Uprawnienia dla grupy</h3>
                <table class="list-table">
                    <thead>
                    <tr class="list-table-row list-table-head">
                        <th>
                            <label class="checkbox-item">
                                <input type="checkbox" value="1" name="mark_all" class="checkbox-mark-all"/>
                                <span class="checkmark"></span>
                            </label>
                        </th>
                        <th style="width: 280px">Nazwa</th>
                        <th>Opis</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach from=$privileges item=item name=aa}
                    <tr class="list-table-row">
                        <td>
                            <label class="checkbox-item list-check-item">
                                <input type="checkbox" value="{$item.id}" name="privileges[]">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>{$item.name}</td>
                        <td>{$item.description}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="btn-row btn-row-bottom">
            <input type="hidden" name="action" value="add_group" />
            <input type="hidden" name="moduleName" value="{$module_name}">
            <button class="btn btn-save" id="save">Zapisz</button>
            <div class="btn btn-cancel" onclick="window.history.back()">Anuluj</div>
        </div>
    </form>
</div>