<!-- SECTION PAIN-FREE -->
<section class="pain-free">
    <div class="wrapper">
        <div class="pain-free__container">
            <!-- IMAGE -->
            <div class="pain-free__container__image">
                <!-- WOMAN IMAGE -->
                <img class="pain-free__container__image__woman pain-free__container__image__woman--mobile"
                    src="{$TPL_URL}/img/aftident_o-produkcie_kobieta_mobile.jpg" alt="{$block.title}"
                    title="Czyste usta i uśmiech za pomocą Aftident!">
                <img class="pain-free__container__image__woman pain-free__container__image__woman--desktop"
                    src="{$TPL_URL}/img/aftident_o-produkcie_kobieta_desktop.jpg" alt="{$block.title}"
                    title="Czyste usta i uśmiech za pomocą Aftident!">
                <!-- GEL IMAGE -->
                <img class="pain-free__container__image__gel pain-free__container__image__gel--mobile"
                    src="{$TPL_URL}/img/aftident_o-produkcie_gel_mobile.png" alt="{$block.title}" title="Zobacz, jak łatwo i szybko możesz złagodzić ból aft, pleśniawek i innych urazów jamy ustnej
                    dzięki Aftident®.">
                <img class="pain-free__container__image__gel pain-free__container__image__gel--desktop"
                    src="{$TPL_URL}/img/aftident_o-produkcie_gel_desktop.png" alt="{$block.title}" title="Zobacz, jak łatwo i szybko możesz złagodzić ból aft, pleśniawek i innych urazów jamy ustnej
                    dzięki Aftident®.">
            </div>
            <!-- INFORMATION -->
            <div class="pain-free__container__information">
                {if $block.title}
                <h{$block.h_type} class="pain-free__container__information__title">{$block.title}</h{$block.h_type}>
                {/if}


                <div class="pain-free__container__information__text"> {$block.content}</div>

            </div>
        </div>
    </div>
</section>