<div class="home-rooms">
    <div class="home-rooms-bg">
        <picture>
            <source srcset="{$TPL_URL}/img/home-bg-man.avif" type="image/avif">
            <source srcset="{$TPL_URL}/img/home-bg-man.png" type="image/pnf">
            <img loading="lazy" src="{$TPL_URL}/img/home-bg-man.png" alt="Pokoje - Chutor Kozacki">
        </picture>
    </div>
    <div class="home-rooms-arrow">
        <img loading="lazy" src="{$TPL_URL}/img/frames/frame-page-arrow.svg" alt="Pokoje - Chutor Kozacki">
    </div>

    <div class="container">
        <div class="home-rooms-content">
            {if $block.title}<h{$block.h_type} class="home-rooms-title">{$block.title}</h{$block.h_type}>{/if}

            <div class="home-rooms-text">{$block.content}</div>

            <a href="{$block.url.url}" class="btn btn-outline">{$block.url_title}</a>
        </div>

        <div class="home-rooms-grid">
            {foreach from=$rooms item=item}
                <div class="home-rooms-item">
                    <div class="image">
                        {if $item.photo}
                        <picture>
                            {if $item.photo.source.photo_webp}
                            <source srcset="{$item.photo.source.photo_webp}" type="image/webp">
                            {/if}
                            <source srcset="{$item.photo.source.photo}" type="{$item.photo.params.type}" >
                            <img loading="lazy" src="{$item.photo.source.photo}" alt="{$item.title}">
                        </picture>
                        {/if}
                    </div>
                    <a href="{$item.url}" class="overlay" title="{$item.title}"></a>
                    <div class="content">
                        <div class="price">od <span>{$item.price}</span> /noc</div>
                        <div class="title">{$item.title}</div>
                        <div class="hidden">
                            <div class="text">{$item.content_short}</div>
                            <a href="{$item.url}" class="btn btn-primary" title="{$item.title}">Rezerwuj online</a>
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
    </div>
</div>
