<div class="price-list">
    <h4 class="price-list-title">{$block.title}</h4>

    <div class="price-list-grid">
        <div class="price-list-item">
            <div class="title">
                Lonża
                <div class="subtitle">(dla początkujących)</div>
            </div>

            <div class="content">
                <strong>70 zł</strong> /30 min
            </div>
        </div>
        <div class="price-list-item">
            <div class="title">Jazda samodzielna</div>
            <div class="content">
                <strong>100 zł</strong> /h
            </div>
        </div>
        <div class="price-list-item">
            <div class="title">Wyjazdy w teren</div>
            <div class="content">
                <strong>100 zł</strong> /h
            </div>
        </div>
        <div class="price-list-item">
            <div class="title">Oprowadzanki dla najmłodszych</div>
            <div class="content">
                <strong>40 zł</strong> /15 min
            </div>
        </div>
    </div>

    <div class="price-list-item wide">
        <div class="title">Karnety</div>

        <div class="row">
            <div class="content">
                <strong>5h</strong> /450 zł
            </div>

            <div class="content">
                <strong>10h</strong> /800 zł
            </div>
        </div>
    </div>

    <div class="price-list-text">
        Do czasu podanego w cenniku należy doliczyć około 30 minut na przygotowanie konia
    </div>

    <div class="price-list-bg">
        <picture>
            <source srcset="{$TPL_URL}/img/price-bg.avif" type="image/avif">
            <source srcset="{$TPL_URL}/img/price-bg.png" type="image/png">
            <img src="{$TPL_URL}/img/price-bg.png" alt="{$page.title}">
        </picture>
    </div>
</div>
