<div class="block-grey hotel-block-grey">
    <div class="block-grey-frame block-grey-frame--left">
        <img loading="lazy" src="{$TPL_URL}/img/frames/frame-page-4-left.svg" alt="Chutor Kozacki">
    </div>
    <div class="block-grey-frame block-grey-frame--right">
        <img loading="lazy" src="{$TPL_URL}/img/frames/frame-page-4-right.svg" alt="Chutor Kozacki">
    </div>

    <div class="stars">
        <img src="{$TPL_URL}/img/icons/icon-star.svg" alt="Hotel Chutor Kozacki">
        <img src="{$TPL_URL}/img/icons/icon-star.svg" alt="Hotel Chutor Kozacki">
        <img src="{$TPL_URL}/img/icons/icon-star.svg" alt="Hotel Chutor Kozacki">
    </div>

    <h{$block.h_type} class="block-title">{$block.title}</h{$block.h_type}>

    <div class="text">
    </div>
</div>
