<div class="modal modal-delete" id="modal-delete">
    <div class="modal-bg"></div>
    <div class="modal-content">
        <div class="modal-close"></div>
        <div class="modal-title">Usuwanie elementu</div>
        <div class="modal-text">
            Czy na pewno chcesz usunąć "<strong id="element-name"></strong>"?
        </div>

        <div class="btn-row justify-end">
            <div class="btn-row-text">
                Usunięcie możliwe za: <span id="deleteTimeout">3</span> sek
            </div>

            <div class="btn btn-white">Anuluj</div>
            <div class="btn btn-red disabled">Usuń</div>
        </div>
    </div>
</div>