<div class="content">
    <div class="list-top-panel" >
        {if isset($path) && $path}
        <a href="module.php?moduleName={$module_name}&cat={$upperPid}" class="list-top-panel-back" style="margin-right: 40px">
            Główna
        </a>
        {foreach from=$path item=parent}
        <a href="module.php?moduleName={$module_name}&cat={$parent.id}" class="list-top-panel-back" style="margin-right: 40px">
            <img src="{$TPL_URL}/img/icons/icon-arrow-back.svg" alt="">
            {$parent.title}
        </a>
        {/foreach}
        {/if}
    </div>
    <form class="form" method="post" action="{$smarty.server.PHP_SELF}" id="edit_form" enctype="multipart/form-data">
        <div class="tabs-nav">
            <div class="tabs-nav-item {if $tab_selected=='content'} active{/if}" data-tab-label="content">Treść</div>

        </div>

        <div class="tabs-wrapper">
            {include file="./tabs/input-content-edit.html"}

        </div>

        <div class="btn-row btn-row-bottom">
            <input type="hidden" name="id" value="{$item->getDbId()}" />
            <input type="hidden" name="moduleName" value="{$module_name}">
            <input type="hidden" name="action" value="update_input">
            <input type="hidden" name="type_id" value="{$item->getType()}">
            <input type="hidden" name="parent_id" value="{$item->getFormId()}">
            {if isset($duplicate) && !$duplicate}<input type="submit" class="btn btn-primary save_item" id="save_and_continue" name="action" data-module="{$module_name}" value="Zapisz i kontynuuj edycję">{/if}
            <input type="submit" class="btn btn-save" id="save" data-module="{$module_name}"   value="Zapisz">
            <div class="btn btn-cancel" onclick="window.history.back()">Anuluj</div>
        </div>
    </form>
</div>