*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  //font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  display: flex;
  color: black;
  font-family: $font-primary;
  font-size: 14px;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;

  @include breakpoint(tab-port) {
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;

  @include breakpoint(phone) {
    width: 5px;
  }
}

::-webkit-scrollbar-track {
  //border: 1px solid #a7a9ac;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #a7a9ac;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a7a9ac;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

.main {
  width: calc(100vw - 260px);
  background-color: white;
}

.color-primary {
  color: $color-primary;
}

.color-grey {
  color: #6f6f6f;
}

/* ----- FOR IE ----- */

 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  

 }
/* ----- FOR IOS DEVICES ----- */
@supports (-webkit-overflow-scrolling: touch) {

}


 :root {
  --blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}

*,::after,::before {
  box-sizing: border-box
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
  display: block
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5rem
}

p {
  margin-top: 0;
  margin-bottom: 10px
}
b,strong {
  font-weight: bolder
}
a {
  color: #000;
  text-decoration: none;
  background-color: transparent
}

a:hover {
  text-decoration: none
}

a:not([href]):not([tabindex]) {
  text-decoration: none
}
img {
  vertical-align: middle;
  border-style: none
}

svg {
  overflow: hidden;
  vertical-align: middle
}
label {
  display: inline-block;
}
button {
  border-radius: 0
}
button,input,optgroup,select,textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

button,input {
  overflow: visible
}

button,select {
  text-transform: none
}
[type=button],[type=reset],[type=submit],button {
  -webkit-appearance: button
}

[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled) {
  cursor: pointer
}
input[type=checkbox],input[type=radio] {
  box-sizing: border-box;
  padding: 0
}
textarea {
  overflow: auto;
  resize: vertical
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2
}

.h1,h1 {
  font-size: 25px
}

.h2,h2 {
  font-size: 20px
}

.h3,h3 {
  font-size: 17px
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (max-width: 360px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width:540px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width:720px
  }
}

@media (min-width: 992px) {
  .container {
    max-width:960px
  }
}

@media (min-width: 1100px) {
  .container {
    max-width:1080px
  }
}

@media (min-width: 1260px) {
  .container {
    max-width:1200px
  }
}

@media (min-width: 1440px) {
  .container {
    max-width:1360px
  }
}

@media (min-width: 1800px) {
  .container {
    max-width:1470px
  }
}
