<div class="content">
    <form class="form" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">

        <div class="tab active" data-tab="content">
            <div class="tab-wrapper">
                <div class="content-block">
                    <div class="form-grid form-grid-2">
                        <div class="form-group">
                            <label for="old">Stare hasło:</label>
                            <input type="password" name="old" id="old" class="form-input">
                        </div>
                    </div>
                    <div class="form-grid form-grid-2">
                        <div class="form-group">
                            <label for="new1">Nowe hasło:</label>
                            <input type="password" name="new1" id="new1" class="form-input">
                        </div>
                    </div>
                    <div class="form-grid form-grid-2">
                        <div class="form-group">
                            <label for="new2">Powtórz nowe hasło:</label>
                            <input type="password" name="new2" id="new2" class="form-input" >
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="btn-row btn-row-bottom">
            <input type="hidden" name="action" value="save_pass" />
            <input type="hidden" name="moduleName" value="{$module_name}" >

            <input type="submit" class="btn btn-save" value="Zmień hasło">
        </div>
    </form>
</div>