<div class="content">
	<div class="tab tab-list active">
		<div class="tab-list-top">
			{if $user.admin_login==1}
			<div class="content-block">
				<div class="content-block-title">Dodaj</div>

				<form method="post" action="{$smarty.server.PHP_SELF}">

					<div class="form-grid form-grid-2">
						<div class="form-group">
							<label for="src_url">Źródło:</label>
							<input type="text" id="src_url" name="src_url" class="form-input">
						</div>
						<div class="form-group">
							<label for="dst_url">Cel:</label>
							<input type="text" id="dst_url" name="dst_url" class="form-input">
						</div>
					</div>
					<div class="btn-row">
						<input type="hidden" name="action" value="Dodaj" />
						<input type="hidden" name="moduleName" value="{$module_name}">
						<input type="submit" class="btn btn-save" value="Dodaj">
					</div>
				</form>
			</div>
			{/if}
			{include file="misc/search.html"}
		</div>

		<div class="list">
			<form method="post" action="">
				{if $articles}
				<div class="list-top">
					<div class="list-top-panel">
						&nbsp;<div class="form-grid">
						<div class="list-top-panel-count btn-row">
							<div style="margin-right: 20px">Wybrano: <span class="checked-count"></span></div>
							<input type="submit" name="action" value="Usuń" class="btn btn-cancel" onclick="return confirmDelete();">
						</div>
					</div>
					</div>

					<div class="list-top-filter">
						<div class="list-top-filter__item">
							<span class="label">Sortuj:</span>
							<select class="list-top-filter__select">
								<option value="newest">Najnowsze</option>
								<option value="oldest">Najstarsze</option>
							</select>
						</div>
					</div>
				</div>
				<table class="list-table" >
					<thead>
					<tr class="list-table-row list-table-head">
						<th style="width: 70px">
							<label class="checkbox-item">
								<input type="checkbox" value="1" name="mark_all" class="checkbox-mark-all"/>
								<span class="checkmark"></span>
							</label>
						</th>
						<th style="width: 50%;">Źródło</th>
						<th>Cel</th>
						<th>Aktywne</th>
						<th>Opcje</th>
					</tr>
					</thead>
					<tbody>
					{foreach from=$articles item=item name=aa}
					<tr class="list-table-row">
						<td>
							<label class="checkbox-item list-check-item">
								<input type="checkbox" value="{$item.id}" name="list_items[]"/>
								<span class="checkmark"></span>
							</label>
						</td>
						<td>
							{$item.src_url}
						</td>
						<td>{$item.dst_url}</td>
						<td>
							<input type="checkbox"
								   id="switch_{$item.id}"
								   class="switch-input switch-active"
								   data-url="{$smarty.server.PHP_SELF}?moduleName={$module_name}"
								   data-id="{$item.id}"
								   {if $item.active}checked="checked"{/if} />
							<label for="switch_{$item.id}" class="switch"></label>
						</td>
						<td>
							<a href="?moduleName={$module_name}&action=delete&amp;id={$item.id}" class="list-table-icon delete-item" title="Kasuj" onclick="return confirmDelete();">
								<img src="{$TPL_URL}/img/icons/icon-delete.svg" alt="Kasuj">
							</a>
						</td>
					</tr>
					{/foreach}
					</tbody>
				</table>
				{/if}
			</form>
		</div>
		{if $pages>1}
		{include file="misc/pagination.html"}
		{/if}
	</div>
</div>