//// COLORS
$color-primary: #109CF1;
$color-secondary: #D34A6B;
$color-violet: #4E67EC;
$color-white: #fff;
$color-grey: #F0F0F0;
$color-grey-light: #f8f8f8;
$color-grey-dark: #222;
$color-blue: #1fa0ca;
$color-cyan: 	#30D5C8;
$color-navy: 	#000080;

///// TYPOGRAPHY
$font-primary: "Roboto", sans-serif;
$font-primary-medium: "DM Sans Medium", sans-serif;
$font-primary-bold: "DM Sans Bold", sans-serif;

$font-heading: "Gilroy", sans-serif;
$font-heading-light: "Gilroy-Light", sans-serif;
$font-heading-extra-bold: "Gilroy-ExtraBold", sans-serif;