<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
    <title>Panel administracyjny | {$CONF.page_title|default:''}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{$CONF.page_keywords|default:''}" />
    <meta name="description" content="{$CONF.page_description|default:''}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link href="{$BASE_URL}/templates/admin/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{$TPL_URL}/img/favicon.ico" />
    <link rel="shortcut" href="{$TPL_URL}/img/favicon.ico" />

    <script type="text/javascript" src="{$BASE_URL}/js/jquery-1.8.3.min.js"></script>
</head>
{literal}
<script type="text/javascript">
    $(document).ready(function() {
        $('.login').focus();
    });
</script>
{/literal}
<body>
<div class="login">

    <form method="post" action="{$smarty.server.PHP_SELF}" class="login-form">
        <h1 class="login-form-title">Przypomnienie hasła</h1>

        <div class="form-group">
            <input type="text" class="form-input" name="email" placeholder="Email" {if $email}value="{$email}"{/if}>
            <div class="icon">
                {include file="misc/icons/icon-login.html"}
            </div>
        </div>
        <input type="hidden" name="csrf" value="{$token}">
        <input type="hidden" name="action" value="remindPass" />
        <button class="btn btn-primary">Zresetuj</button>
    </form>

    {if isset($error)}
    <div class="login-error">
        {$error}
    </div>
    {/if}
</div>
</body>
</html>
