<div class="content">
  <form class="form" method="post" action="{$smarty.server.PHP_SELF}" id="edit_form" enctype="multipart/form-data">
    <div class="tabs-nav">
      <div class="tabs-nav-item active" data-tab-label="content">Dane kontaktowe</div>
    </div>

    <div class="tabs-wrapper">
      <div class="tab active" data-tab="content">
        <div class="tab-wrapper">
          <div class="content-block">
            <h2 class="content-block-title">Adres siedziby</h2>
            <div class="form-grid form-grid" data-lang="{$lang.id}" >
              <div class="form-group">
                <label for="headquarters_title">Tytuł </label>
                <input type="text" class="form-input" id="headquarters_title" name="headquarters_title" value="{$contact.headquarters.title}" required>
              </div>
            </div>
            <div class="form-grid form-grid-2">
              <div class="form-group">
                <label for="headquarters_street">Ulica</label>
                <input type="text" class="form-input" id="headquarters_street" name="headquarters_street" value="{$contact.headquarters.street}" required>
              </div>
              <div class="form-group">
                <label for="headquarters_postcode">Kod pocztowy</label>
                <input type="text" class="form-input" id="headquarters_postcode" name="headquarters_postcode" value="{$contact.headquarters.postcode}" required>
              </div>

            </div>
            <div class="form-grid form-grid-2">
              <div class="form-group">
                <label for="headquarters_building_no">Nr budynku</label>
                <input type="text" class="form-input" id="headquarters_building_no" name="headquarters_building_no" value="{$contact.headquarters.building_no}" required>
              </div>
              <div class="form-group">
                <label for="headquarters_city">Miasto</label>
                <input type="text" class="form-input" id="headquarters_city" name="headquarters_city" value="{$contact.headquarters.city}" required>
              </div>
            </div>
            <div class="form-grid form-grid-2">
              <div class="form-group">
                <label for="headquarters_email">Email</label>
                <input type="text" class="form-input" id="headquarters_email" name="headquarters_email" value="{$contact.headquarters.email}" required>
              </div>
              <div class="form-group">
                <label for="headquarters_phone">Telefon</label>
                <input type="text" class="form-input" id="headquarters_phone" name="headquarters_phone" value="{$contact.headquarters.phone}" required>
              </div>
            </div>
            <div class="form-grid form-grid-2">

            </div>
          </div>
          <div class="content-block">
            <h2 class="content-block-title">Adres produkcji</h2>
            <div class="form-grid form-grid" data-lang="{$lang.id}" >
              <div class="form-group">
                <label for="production_title">Tytuł </label>
                <input type="text" class="form-input" id="production_title" name="production_title" value="{$contact.production.title}" required>
              </div>
            </div>
            <div class="form-grid form-grid-2">
              <div class="form-group">
                <label for="production_street">Ulica</label>
                <input type="text" class="form-input" id="production_street" name="production_street" value="{$contact.production.street}" required>
              </div>
              <div class="form-group">
                <label for="production_postcode">Kod pocztowy</label>
                <input type="text" class="form-input" id="production_postcode" name="production_postcode" value="{$contact.production.postcode}" required>
              </div>

            </div>
            <div class="form-grid form-grid-2">
              <div class="form-group">
                <label for="production_building_no">Nr budynku</label>
                <input type="text" class="form-input" id="production_building_no" name="production_building_no" value="{$contact.production.building_no}" required>
              </div>
              <div class="form-group">
                <label for="production_city">Miasto</label>
                <input type="text" class="form-input" id="production_city" name="production_city" value="{$contact.production.city}" required>
              </div>
            </div>
            <div class="form-grid form-grid-2">
              <div class="form-group">
                <label for="production_email">Email</label>
                <input type="text" class="form-input" id="production_email" name="production_email" value="{$contact.production.email}" required>
              </div>
              <div class="form-group">
                <label for="production_phone">Telefon</label>
                <input type="text" class="form-input" id="production_phone" name="production_phone" value="{$contact.production.phone}" required>
              </div>
            </div>
            <div class="form-grid form-grid-2">

            </div>
          </div>

          <div class="content-block">
            <h2 class="content-block-title">Konta bankowe</h2>
            <div class="form-group" data-lang="{$lang.id}" >
            <label for="bank_content"></label>
            <textarea name="bank_content" id="bank_content" class="text-editor">{$contact.bank_data}</textarea>
          </div>
          </div>
        </div>

      </div>
    </div>

    <div class="btn-row btn-row-bottom">
      <input type="hidden" name="moduleName" value="{$module_name}">
      <input type="submit" class="btn btn-primary save_item" id="save_and_continue" name="action" data-module="{$module_name}" value="Zapisz i kontynuuj edycję">
      <input type="submit" class="btn btn-save" id="save" data-module="{$module_name}" name="action"  value="Zapisz">
      <div class="btn btn-cancel" onclick="window.history.back()">Anuluj</div>
    </div>
  </form>
</div>