<div class="content">
    <form class="form" method="post" action="{$smarty.server.PHP_SELF}?moduleName={$module_name}" enctype="multipart/form-data" onsubmit="return checkLabel();">

        <div class="tab active" data-tab="content">
            <div class="tab-wrapper">

                <div class="content-block">
                    <div class="content-panel active" style="padding: 0">
                        <div class="content-block-title">Ustawienia</div>

                        <div class="form-group">
                            <label for="language">Wersja językowa</label>
                            <select name="language" id="language" class="form-select" style="text-transform: uppercase">
                                {foreach from=$languages item=lang}
                                <option value="{$lang.id}" {if $lang.id == $LANG_MAIN.id}selected{/if}>{$lang.code}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="content-block">

                    <div class="form-grid form-grid-2">
                        <div class="form-group">
                            <label for="label">Etykieta:</label>
                            <input type="text" class="form-input" id="label" name="label">
                        </div>
                    </div>
                    {foreach from=$languages item=lang}
                        <div class="form-grid form-grid-2" data-lang="{$lang.id}" {if $lang.id != $LANG_MAIN.id}style="display: none;"{/if}>
                            <div class="form-group">
                                <label for="value">Tekst [{$lang.code}]:</label>
                                <textarea name="value[{$lang.id}]" id="value" class="form-textarea"></textarea>
                            </div>
                        </div>
                    {/foreach}
                </div>
            </div>

        </div>

        <div class="btn-row btn-row-bottom">
            <input type="hidden" name="action" value="create" /> &nbsp;&nbsp;
            <button class="btn btn-save" id="save">Dodaj wyraz</button>
            <div class="btn btn-cancel" onclick="window.history.back()">Anuluj</div>
        </div>
    </form>
</div>

{literal}
<script type="text/javascript">
  var return_string;
  function checkLabel() {
    var label = $('#label').val();
    return_string = '';
    $.ajax({
      type: 'post',
      url: BASE_URL + '/admin/module.php?moduleName=slownik',
      async: false,
      data: {
        action: "check_label",
        label: label
      },
      success: function(data) {
        return_string = data;
      }
    });
    console.log(return_string);
    if (return_string == 'nie ma etykiety w słowniku') {
      return true;
    } else {
      alert('Wyraz o etykiecie: "' + label + '" istnieje już w słowniku.\nJego treść to:\n"' + return_string + '"');
      return false;
    }
  }
</script>
{/literal}