<div class="content">
        <div class="tab active" data-tab="content">
            <div class="tab-wrapper">

                <div class="content-block">
                    <div class="btn-row">
                        <a href="module.php?moduleName={$module_name}&action=add" class="btn btn-save" title="Dodaj nowy wyraz"><strong>Dodaj nowy wyraz</strong></a>
                        <a href="module.php?moduleName={$module_name}&action=export" class="btn btn-save" title="Exportuj do Excel-a"><strong>Exportuj do Excel-a</strong></a>
                        <a href="module.php?moduleName={$module_name}&action=import_form" class="btn btn-save" title="Importuj z Excel-a"><strong>Importuj z Excel-a</strong></a>
                    </div>
                    <br>
                    {include file="misc/search.html"}
                </div>
                <form class="form" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
                    <div class="content-block">
                        <div class="content-panel active" style="padding: 0">
                            <div class="content-block-title">Ustawienia</div>

                            <div class="form-group">
                                <label for="language">Wersja językowa</label>
                                <select name="language" id="language" class="form-select" style="text-transform: uppercase">
                                    {foreach from=$languages item=lang}
                                    <option value="{$lang.id}" {if $lang.id == $LANG_MAIN.id}selected{/if}>{$lang.code}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        {foreach from=$articles item=item name=cc}
                            {foreach from=$languages item=lang}
                                <div class="form-grid form-grid-2" data-lang="{$lang.id}" {if $lang.id != $LANG_MAIN.id}style="display: none;"{/if}>
                                    <div class="form-group">
                                        <label for="value[{$smarty.foreach.cc.iteration}]">
                                            {$item.label} [{$lang.code}]:
                                            <span class="list-table-icon delete-item" title="Kasuj" onclick="return confirmDelete('{$item.label}', '?moduleName={$module_name}&action=delete&amp;id={$item.id}');">
                                                <img src="{$TPL_URL}/img/icons/icon-delete.svg" alt="Kasuj">
                                            </span>
                                        </label>

                                        <textarea name="value[{$item.id}][{$lang.id}]" id="value[{$smarty.foreach.cc.iteration}]" class="form-textarea">{$item.opis[$lang.id].value}</textarea>
                                    </div>
                                </div>
                            {/foreach}
                        {/foreach}


                        <div class="btn-row">
                            <input type="hidden" name="page" value="{$page}" />
                            <input type="hidden" name="action" value="save_all" />
                            <input type="hidden" name="moduleName" value="{$module_name}">
                            <input type="hidden" name="action" value="save_all">
                            <input type="submit" class="btn btn-save" id="save" value="Zapisz">
                            <div class="btn btn-cancel" onclick="window.history.back()">Anuluj</div>
                        </div>
                    </div>

                </form>
            </div>
            {if $pages>1}
            {include file="misc/pagination.html"}
            {/if}
        </div>

</div>


{include file="modals/modal-delete.html"}